[submodule "site/themes/ananke"]
	path = site/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "site/themes/vienna"]
	path = site/themes/vienna
	url = https://github.com/keichi/vienna
[submodule "site/themes/hyde"]
	path = site/themes/hyde
	url = https://github.com/spf13/hyde.git
